

@font-face {
    font-family: Playfair;
    src: url('../fonts/PlayfairDisplay-Regular.otf');
}

@font-face {
    font-family: Impact;
    src: url('../fonts/impact.ttf');
}

body{
    background-image: url('../img/beck.jpg')
}






img{
    height: 150px;
    width: 150px;
}

/* HELPERS */

.flex {
    display: flex; }

.flex-d{
    flex-direction: column;
}

.justify-center {
justify-content: center; }

.align-center {
align-items: center; }

.space-between {
justify-content: space-between; }

.space-around {
justify-content: space-around; }
  