












img{
    height: 150px;
    width: 150px;
}

/* HELPERS */

.flex {
    display: flex; }

.justify-center {
justify-content: center; }

.align-center {
align-items: center; }

.space-between {
justify-content: space-between; }

.space-around {
justify-content: space-around; }
  